.subject {
    padding: 1px 8px 1px 8px;
    border: 1px solid gray;
    margin: 2px 0 2px 0;

    &.incomplete {
        background-color: #f9aea4;
    }

    &.complete {
        background-color: #a4f9ae;
    }

    &.in-progress {
        background-color: #f8f9a4;
    }
}
