.homework-item {
    padding: 1px 8px 1px 8px;
    border: 1px solid gray;
    margin: 2px 0 2px 0;

    &.incomplete {
        background-color: light-dark(#f9aea4, #b7574b);
    }

    &.complete {
        background-color: light-dark(#a4f9ae, #6cb275);
    }

    &.in-progress {
        background-color: light-dark(#f8f9a4, #a4a56b);
    }
}
