table {
    border: 1px solid light-dark(black, #c0c0c0);

    thead {
        background-color: light-dark(#d1d1d1, #404040);
    }

    td,
    th {
        border: 1px solid light-dark(black, #c0c0c0);
        padding: 4px;
        text-align: center;
    }

    .weekday {
        font-weight: bold;
        background-color: light-dark(#d1d1d1, #404040);
    }
}

#week-display {
    font-weight: bold;
}