:root {
    color-scheme: light dark;
    --text: light-dark(#000000, #ffffff);
    --bg: light-dark(#eee, #161616);
}

header {
    padding: 12px;
    background-color: #282828;

    ul {
        marker: none;
        padding-left: 0;
        margin: 0;

        li {
            display: inline;
            margin-right: 12px;

            a {
                color: white;
            }
        }
    }
}

body {
    margin: 0;
    font-family: "Noto Sans";
}

main {
    padding: 12px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
