details {
    border: 1px solid;
    padding: 8px;

    form {
        border: 1px solid;
        padding: 12px;
        margin: 12px;
    }
}

nav.view-control {
    margin: 12px 0 12px 0;
    padding: 8px;
    border: 1px solid;

    .pager {
        display: inline;
        border-left: 1px solid;
        border-right: 1px solid;
        padding: 4px;
        margin: 0 8px 0 8px;
    }
}

.task {
    padding: 1px 8px 1px 8px;
    border: 1px solid gray;
    margin: 2px 0 2px 0;

    &.incomplete {
        background-color: light-dark(#f9aea4, #b7574b);
    }

    &.complete {
        background-color: light-dark(#a4f9ae, #6cb275);
    }

    &.in-progress {
        background-color: light-dark(#f8f9a4, #a4a56b);
    }

    .title {
        .editor {
            &.inactive {
                display: none;
            }
            &.active {
                display: block;
            }
            input {
                font-size: 24px;
                font-weight: bold;
                width: calc(100% - 55px);
                margin-top: 5px;
            }
            button {
                font-size: 24px;
            }
        }
        .display {
            &.inactive {
                display: none;
            }
            h2 {
                display: inline-block;
                margin: 8px 0 0 4px;
                word-break: break-word;
            }
            button.edit {
                display: none;
            }
            &:hover button.edit {
                display: inline;
            }
        }
    }

    p button.edit {
        display: none;
    }

    p:hover {
        button.edit {
            background: none;
            border: none;
        }

        button.edit:hover {
            background-color: #9195ff;
        }

        button.edit:active {
            background-color: #6d6fbf;
        }
    }
}
