:root {
    color-scheme: light dark;
    &:has(#theme-light:checked) {
        color-scheme: light;
    }
    &:has(#theme-dark:checked) {
        color-scheme: dark;
    }
    --text: light-dark(#000000, #ffffff);
    --bg: light-dark(#eee, #161616);
}

#theme-switcher {
    padding: 12px;
    margin: 12px;

    .option {
        display: inline;

        input {
            display: none;
        }

        label {
            padding: 12px;
            font-size: 24px;
            background-color: #bdbdbd;
            text-shadow: 1px 1px 4px black;
        }

        &:has(input:checked) label {
            background-color: #9195ff;
        }
    }
}
