.carousel-controls button {
    background: none;
    border: none;
    font-size: 24px;

    &:hover {
        background-color: light-dark(#d1d1d1, #383838);
    }
}

.form {
    input:valid[required],
    textarea:valid {
        border: 3px solid green;
    }
    input:invalid[required],
    textarea:invalid {
        border: 3px solid red;
    }
}

#important-links-container {
    border: 2px solid red;

    display: none;
    opacity: 0;
}

#important-links-container.fade-in {
    display: block;
    animation: fade-in 0.7s ease-in forwards;
}

#important-links-container.fade-out {
    animation: fade-out 0.7s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
